main {
    margin-top: 200px
}

.header {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-decoration: dotted;
    box-shadow: x y 20px black;
    


}

.logo {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(45deg, blue, rgb(255, 6, 6));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
   
}

.header-container {
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    gap: 20px;

}

nav a {
    text-decoration: none;
    color: blanchedalmond;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 30px;
    padding: 0.8rem 1.2rem;
    background-color: linear-gradient(#F5CBA7);
    cursor: pointer;
    transition: 0.4s ease;
    /* box-shadow: 0 5px 5px; */
}

nav a:hover {
    color: black;
    background: linear-gradient(#FFA500);
    box-shadow: 0 5px 15px black;
    transform: scale(1.08);
}

nav a.active {
    color: black;
    background: linear-gradient(#FFA500);
    box-shadow: 0 5px 15px black;

}

body {

    background-color: #2A2A2A;

}

.image-item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    justify-content: center
}

.img-item {
    margin-top: 20px;
    width: 280px;
    height: 400px;
    padding: 40px 20px 110px 30px;
    text-align: center;
    background: #1C1C1C;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
}

.img-item img {
    width: 100%;
    transition: 0.3s;

}

.img-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px white;
    cursor: pointer;

}

h2 {
    background-color: #2A2A2A;
    color: #FFD700;
    border-radius: 40px;
}

h4 {

    background-color: #1C1C1C;
    border-radius: 25px;
    color: #FFFFFF;
}

p {
    background-color: #1C1C1C;
    border-radius: 25px;
    color: #FFFFFF;
}

b{
    background-color: #1C1C1C;
    border-radius: 25px;
    color:bisque;
}


.footer {
    background-color: #09222b;
    color: bisque;
    padding: 10px 20px 20px;
    position: relative;
    width: 100%;
}

.footer-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid bisque;
    padding-top: 10px;
    font-size: 14px;
    align-items: center;
}


.social-link{
    text-decoration: none;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    width:45px;
    height:45px;
    background:black;
    border:2px solid wheat;
    border-radius: 50%;
    color:wheat;
    font-size: 1.2rem;
    transition:all 0.3 ease;
    overflow:hidden;
}

.social-link:hover{
    color:chocolate;
    border-color: beige;
    transform: translateY(-3px);
    box-shadow:0 5px 15px chocolate
}

